# Folders that should be built in images
node_modules
dist

# hide landing template
landing_page_template

# Database
data
data_test

# Helper scripts
batch-files

# Uploads
/uploads

# apidoc output
/api-doc

# Packaged builds
/zip

# Sensitive database information
ormconfig.json

# Script to reset the time of content creation on live server
reset-content-time.ts
