# NPM modules
node_modules
dist

# VS Code
.vscode

# Database
data

# Helper scripts
batch-files

# Hide the environment variables
src/conf/env.dev.ts
src/conf/env.prod.ts

# Uploads
/uploads

# apidoc output
/api-doc
