<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/img/fav.png">
  <!-- Meta Description -->
  <%- include('../include/description'); %>
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Influencer Opportunity</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- Start banner Area -->
    <section class="generic-banner relative">
    <!-- Start Header Area -->
      <header class="default-header">
        <nav class="navbar navbar-expand-lg  navbar-light">
          <div class="container">
              <a class="navbar-brand" href="/">
                <img src="/img/logos/bond-med.png" alt=""><span>DopaMeme</span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-menu"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li><a href="/support">Support</a></li>
  								<li><a href="/terms">Terms and Conditions</a></li>
  								<li><a href="/privacy">Privacy Policy</a></li>
  								<!-- Dropdown -->
  							    <!--<li class="dropdown">
  							      <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
  							        Pages
  							      </a>
  							      <div class="dropdown-menu">
  							        <a class="dropdown-item" href="generic.html">Generic</a>
  							        <a class="dropdown-item" href="elements.html">Elements</a>
  							      </div>
  							    </li>-->
                </ul>
              </div>
          </div>
        </nav>
      </header>
    <!-- End Header Area -->
      <div class="container">
        <div class="row height align-items-center justify-content-center">
          <div class="col-lg-10">
            <div class="generic-banner-content">
              <h2 class="text-white text-center">Influencer Opportunity</h2>
              <p class="text-white">Opened: 1st December 2019</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start Generic Area -->
    <section class="about-generic-area section-gap">
      <div class="container">

        <h3 class="about-title mb-20">Welcome</h3>
        <div class="row">
          <div class="col-md-12">
            <p>If you have received an email from us it means you have been selected for the opportunity to become one of the first pioneers of TA. This service was built with the goal of helping entertainers boost their publicity and engage their audiences more effectively than any other service available on the market today.</p>
          </div>
          <div class="col-md-12">
            <p>If you are interested, read on to learn how you can benefit and what monetary options / levels of involvement are available</p>
          </div>
        </div>

        <h3 class="about-title mb-20">What is TA?</h3>
        <div class="row">
          <div class="col-md-12">
            <p>TA is the creation of computer science student Tristan Mastrodicasa. It’s purpose is to increase the publicity of individuals by harnessing the contagious nature of ‘memes’. Many celebrities today have been created through the web from services such as Vine and Tic Tok. Memes are the perfect soft-sell strategy for any entertainer in the 21st century and TA lets you harness the full power of it.</p>
          </div>
        </div>

        <div class="section-top-border">
          <h3 class="mb-70 text-center">How does TA work?</h3>
          <div class="row">
            <div class="col-md-4">
              <div class="single-defination">
                <h4 class="mb-20">Upload a "Canvas"</h4>
                <img src="/img/app-user-flow/image-24px.svg" class="mb-20">
                <p>A canvas is an image which is easy to make a meme from and depicts you or something that would inspire users to discover you</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-defination">
                <h4 class="mb-20">Other users create Memes</h4>
                <img src="/img/app-user-flow/compare-24px.svg" class="mb-20">
                <p>Users then create memes featuring you. They are encouraged to share their memes with friends</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-defination">
                <h4 class="mb-20">Memes are Ranked</h4>
                <img src="/img/app-user-flow/poll-24px.svg" class="mb-20">
                <p>Users upvote the best memes by “staring” them. Memes are ranked from best to worst</p>
              </div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-md-4">
              <div class="single-defination">
                <h4 class="mb-20">Memes Spread across the Network</h4>
                <img src="/img/app-user-flow/trending_up-24px.svg" class="mb-20">
                <p>If popular enough, the memes will spread to new users on the network</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="single-defination">
                <h4 class="mb-20">Gain Influence Points</h4>
                <img src="/img/app-user-flow/star-24px.svg" class="mb-20">
                <p>Both you and the meme creators will gain “influence points” which increases your likelihood of trending on the main feed again</p>
              </div>
            </div>
          </div>
        </div>

        <h3 class="about-title mb-20">Is TA really that effective?</h3>
        <div class="row">
          <div class="col-md-12">
            <p>A lot of YouTubers use services like Reddit to maintain engagement with their audience by encouraging them to generate their own content. TA makes that easier while pushing users to create content featuring you. When users share their content they will implicitly be sharing you and therefore help you gain exposure.</p>
          </div>
          <div class="col-md-12">
            <p>TA was based on Jackbox Party games. A popular set of games that requires a group of people to play. The game was very successful, coming out with 5 sequels. The same fun dynamics exist on TA as proven in user testing.</p>
          </div>
          <div class="col-md-12">
            <p>When TA gains traction, early users will be put at an advantage to grow with the service. If TA takes off you will be positioned to take off with it.</p>
          </div>
          <div class="col-md-12">
            <p>We are looking to launch in early 2020.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">How you can get involved</h3>
        <div class="row">
          <div class="col-md-12">
            <p>One of the challenges for an app of this nature is to establish a community. The service has proven to be addicting in user testing, but without an established community, the app cannot sustain itself. This is why we are looking for influencers to partner with us.</p>
          </div>
          <div class="col-md-12">
            <p>There are three different levels of involvement you can opt into.</p>
          </div>
          <div class="col-md-12">
            <h5 class="mb-10">Full Involvement</h5>
            <p>If you are excited enough about the prospects and benefits of this service then you can look to become a partner with us. When you become a partner we will work very closely with you and you will be considered a part of the company. You can expect shares and monetary compensation for your part in bringing TA to life.</p>
          </div>
          <div class="col-md-12">
            <h5 class="mb-10">Affiliating Marketing</h5>
            <p>If you do not wish to fully embrace the service you can opt for affiliate marketing. With this option we will pay you on a per registration basis and provide bonuses for reaching certain thresholds.</p>
          </div>
          <div class="col-md-12">
            <h5 class="mb-10">Trial of service</h5>
            <p>Regardless, we encourage you to try out the service with a small portion of your audience to test the benefits. We are very confident you will see higher engagement and an opportunity to grow your publicity with TA.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Contact</h3>
        <div class="row">
          <div class="col-md-12">
            <p>tristan@dopameme.mobi</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Generic Start -->

    <!-- start footer Area -->
    <footer class="footer-area section-gap">
      <div class="container">

        <div class="row footer-bottom d-flex justify-content-between">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </footer>
    <!-- End footer Area -->

  </div>
  <script src="/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/jquery.sticky.js"></script>
  <script src="/js/hexagons.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
