<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/img/fav.png">
  <!-- Meta Description -->
  <%- include('../include/description'); %>
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Privacy Policy</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- Start banner Area -->
    <section class="generic-banner relative">
    <!-- Start Header Area -->
      <header class="default-header">
        <nav class="navbar navbar-expand-lg  navbar-light">
          <div class="container">
              <a class="navbar-brand" href="/">
                <img src="/img/logos/bond-med.png" alt=""><span>DopaMeme</span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-menu"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li><a href="/support">Support</a></li>
  								<li><a href="/terms">Terms and Conditions</a></li>
  								<li><a href="/privacy">Privacy Policy</a></li>
  								<!-- Dropdown -->
  							    <!--<li class="dropdown">
  							      <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
  							        Pages
  							      </a>
  							      <div class="dropdown-menu">
  							        <a class="dropdown-item" href="generic.html">Generic</a>
  							        <a class="dropdown-item" href="elements.html">Elements</a>
  							      </div>
  							    </li>-->
                </ul>
              </div>
          </div>
        </nav>
      </header>
    <!-- End Header Area -->
      <div class="container">
        <div class="row height align-items-center justify-content-center">
          <div class="col-lg-10">
            <div class="generic-banner-content">
              <h2 class="text-white text-center">Privacy Policy</h2>
              <p class="text-white">Effective Date: 24th October 2019</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start Generic Area -->
    <section class="about-generic-area section-gap">
      <div class="container">

        <h3 class="about-title mb-20">Information gathering and usage</h3>
        <div class="row">
          <div class="col-md-12">
            <p>When registering for DopaMeme we ask for you to log in with services such as Facebook and Google. Upon registration we may store your email and user ID from the aforementioned services. We also store information such as your first name either immediately upon registration or when you choose to edit your profile.</p>
          </div>
          <div class="col-lg-12">
            <p>Your information is only used internally and will not be shared with others.</p>
          </div>
          <div class="col-lg-12">
            <p>DopaMeme also collects aggregated, anonymous user data regarding app usage. The user data we collect is used to improve DopaMeme and the quality of our service. We only collect personal data that is required to provide our services, and we only store it insofar that it is necessary to deliver these services.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Your Data</h3>
        <div class="row">
          <div class="col-md-12">
            <p>DopaMeme uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run DopaMeme. Although DopaMeme owns the code, databases, and all rights to the DopaMeme service, you retain all rights to your data. We will never share your personal data with a 3rd party without your prior authorization, and we will never sell data to 3rd parties.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Security</h3>
        <div class="row">
          <div class="col-md-12">
            <p>All data and information transmitted with DopaMeme is secured by SSL protocol. While not all transmission of data is 100% secure we strive to use the most secure technologies commercially available.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Cookies</h3>
        <div class="row">
          <div class="col-md-12">
            <p>As DopaMeme is primarily served on mobile we do not currently use cookies.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Ad servers</h3>
        <div class="row">
          <div class="col-md-12">
            <p>We do not partner with or have special relationships with any ad server companies.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Changes</h3>
        <div class="row">
          <div class="col-md-12">
            <p>If our information practices change at some time in the future we will post the policy changes to our web site to notify you of these changes and we will use for these new purposes only data collected from the time of the policy change forward. If you are concerned about how your information is used, you should check back at our web site periodically.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Generic Start -->

    <!-- start footer Area -->
    <footer class="footer-area section-gap">
      <div class="container">

        <div class="row footer-bottom d-flex justify-content-between">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </footer>
    <!-- End footer Area -->

  </div>
  <script src="/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/jquery.sticky.js"></script>
  <script src="/js/hexagons.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
