<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/img/fav.png">
  <!-- Meta Description -->
  <%- include('../include/description'); %>
  <!-- meta character set -->
  <meta charset="UTF-8">
  <!-- Site Title -->
  <title>Terms and Conditions</title>

  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <!-- Start banner Area -->
    <section class="generic-banner relative">
    <!-- Start Header Area -->
      <header class="default-header">
        <nav class="navbar navbar-expand-lg  navbar-light">
          <div class="container">
              <a class="navbar-brand" href="/">
                <img src="/img/logos/tristans-app-logo.svg" alt=""><span>Tristan's App</span>
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-menu"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                  <li><a href="/support">Support</a></li>
  								<li><a href="/terms">Terms and Conditions</a></li>
  								<li><a href="/privacy">Privacy Policy</a></li>
  								<!-- Dropdown -->
  							    <!--<li class="dropdown">
  							      <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
  							        Pages
  							      </a>
  							      <div class="dropdown-menu">
  							        <a class="dropdown-item" href="generic.html">Generic</a>
  							        <a class="dropdown-item" href="elements.html">Elements</a>
  							      </div>
  							    </li>-->
                </ul>
              </div>
          </div>
        </nav>
      </header>
    <!-- End Header Area -->
      <div class="container">
        <div class="row height align-items-center justify-content-center">
          <div class="col-lg-10">
            <div class="generic-banner-content">
              <h2 class="text-white text-center">Terms and Conditions</h2>
              <p class="text-white">Effective Date: 24th October 2019</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start Generic Area -->
    <section class="about-generic-area section-gap">
      <div class="container">

        <h3 class="about-title mb-20">Thanks for using Tristan’s App!</h3>
        <div class="row">
          <div class="col-md-12">
            <p>The Tristan’s App service (“Service”) is provided by Tristan’s App Ltd. (“Tristan’s App”). By using our Service, you are agreeing to these Terms of Service (“Terms”) and certify that you are over the age of 13. If you are using the Service on behalf of an organization or entity (“Organization”), then you are agreeing to these Terms on behalf of the Organization. In that case, “you” and “your” may refer to the Organization. Please read these terms carefully before you start using our Service.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Change of Terms of Service</h3>
        <div class="row">
          <div class="col-md-12">
            <p>From time to time, Tristan’s App may modify existing terms and/or update these terms with additional terms that apply to the Service. For example, Tristan’s App may modify existing terms to reflect any mandatory changes to the law. You should check the terms regularly to keep informed. Tristan’s App will also post notice of modification to these Terms on this page or via the email address you registered with us. Note, changes will not apply retroactively and will become effective thirty (30) days after they are posted on our website. Changes addressing new functions for the Service or changes made for legal reasons may be effective immediately. You should discontinue your use of our Service if you do not agree with updated/modified Terms.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Privacy Protection</h3>
        <div class="row">
          <div class="col-md-12">
            <p>Tristan’s App privacy policies explain how we treat your personal data and protect your privacy when using our Service. By using our Service, you automatically agree to our privacy policies and Tristan’s App can use such data in accordance with its privacy policies.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Your Content in Our Service</h3>
        <div class="row">
          <div class="col-md-12">
            <p>Our service allows you to upload, download and store content, including but not limited to, information, text, graphics, videos, audios, or other material (“Content”). You retain ownership of any intellectual property rights that you hold in that Content. When you upload, store, send or receive Content to or through our Service, you give Tristan’s App and its service partners a worldwide license to host, store, upload and download this Content and only for the purpose of providing the Service strictly to you and your use of the Content. We reserve our right at all times, but are not obligated, to remove or refuse to distribute any Content through the Service including your Content.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Software in Our Service</h3>
        <div class="row">
          <div class="col-md-12">
            <p>When the Service requires or includes downloadable software, this software may update automatically on your device once a new version or features become available to you. Some platforms may let you adjust your automatic update settings.</p>
          </div>
          <div class="col-md-12">
            <p>Tristan’s App gives you a personal, worldwide, royalty-free, non-assignable and non-exclusive license to use the software provided by Tristan’s App as part of the Service. You may not copy, modify, distribute, sell, or lease any part of our Service or included software, nor may you reverse engineer or attempt to extract the source code of the software, unless local laws prohibit those restrictions or you have our written permission.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Modifying and Terminating Our Service</h3>
        <div class="row">
          <div class="col-md-12">
            <p>Tristan’s App may add or remove functionalities or features in the normal course of improving, changing, and/or updating the Service. We may also suspend or stop our Service with at least thirty (30) days notice prior to the complete shutdown of our Service.</p>
          </div>
          <div class="col-md-12">
            <p>You can choose to stop using our Service at will. We may also stop providing Service to you, or add or create new limitations to our Service at any time as detailed in the Terms.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">API</h3>
        <div class="row">
          <div class="col-md-12">
            <p>You may access your Service data via the Application Program Interface (“API”). By using API, you are automatically bound by the Terms.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Using Our Service</h3>
        <div class="row">
          <div class="col-md-12">
            <p>You must follow any policies made available to you within the Service. You may only use our Service as permitted by law. Tristan’s App may investigate and/or suspend or terminate our Service to you at any time if we find your use of our Service violates the Terms and/or any policies.</p>
          </div>
          <div class="col-md-12">
            <p>Using our Service does not grant you ownership of any intellectual property rights in our Service or the content you may have access to. You may not use any copyrighted content in our Service unless you obtain permission from the content owner and/or are otherwise permitted by law. The Terms do not grant you the right to use any branding or logos used in our Service. Our Service may display some logos, trademarks, or branding materials that is not the property of Tristan’s App. These types of content are the sole responsibility of the entity that makes it available.</p>
          </div>
          <div class="col-md-12">
            <p>You must not abuse and/or misuse our Service, including but not limited to, doing the following things:</p>
          </div>

          <div class="col-md-12 mb-20">
            <ul class="unordered-list">
              <li>Using the Service for any unlawful purposes or activities;</li>
              <li>Uploading images / videos of individuals without their permission unless the image / videos is taken in a public domain where they do not expect privacy;</li>
              <li>Engaging in activities with the purpose of mocking or attacking an individual's character and / or appearance;</li>
              <li>Uploading content depicting graphic violence or nudity;</li>
              <li>Uploading content that discloses sensitive information about other users, or intends to cause harm to others;</li>
              <li>Uploading any content to the Service in violation of any applicable law, including but not limited to, intellectual property laws and publicity laws;</li>
              <li>Sending unsolicited promotions or advertisements;</li>
              <li>Accessing or tampering with the Service’s server systems;</li>
              <li>Interfering with or disrupting the access of any user, host, or network;</li>
              <li>Abusing or submitting excessively frequent requests to the Service via the API.</li>
            </ul>
          </div>

          <div class="col-md-12">
            <p>Tristan’s App, in its sole discretion, will determine abuse and/or misuse of our Service.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Limited Liability for Our Service</h3>
        <div class="row">
          <div class="col-md-12">
            <p>TO THE MAXIMUM EXTENT PERMITTED BY LAW, THE SERVICE IS AVAILABLE “AS IS”. YOU EXPRESSLY UNDERSTAND AND AGREE THAT:</p>
          </div>
          <div class="col-md-12">
            <p>WHEN PERMITTED BY LAW, TRISTAN’S APP AND ITS SERVICE PARTNERS, LICENSORS, EMPLOYEES, AGENTS WILL NOT BE RESPONSIBLE FOR ANY LOST PROFITS, REVENUES, OR DATA, FINANCIAL LOSSES OR INDIRECT, SPECIAL, CONSEQUENTIAL, EXEMPLARY, OR PUNITIVE DAMAGES UNDER ANY CIRCUMSTANCES.</p>
          </div>
          <div class="col-md-12">
            <p>YOUR USE AND/OR PURCHASE OF SERVICE ARE ALL AT YOUR SOLE RISK. THE SERVICE IS PROVIDED ON AN “AS IS” BASIS.</p>
          </div>
          <div class="col-md-12">
            <p>TRISTAN’S APP DOES NOT WARRANT THAT:</p>
          </div>
          <div class="col-md-12 mb-20">
            <ul class="unordered-list">
              <li>THE SERVICE WILL MEET ALL OF YOUR REQUIREMENTS AT ALL TIMES;</li>
              <li>THE SERVICE WILL BE ERROR-FREE AND ALL ERRORS IN THE SERVICE WILL BE CORRECTED;</li>
              <li>THE SERVICE WILL BE UNINTERRUPTED</li>
            </ul>
          </div>
          <div class="col-md-12">
            <p>ALL CONTENT DOWNLOADED, UPLOADED AND/OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER EQUIPMENT OR DEVICES, INCLUDING BUT NOT LIMITED TO, LAPTOP COMPUTERS, DESKTOP COMPUTER, TABLETS, SMARTPHONES AND SMARTWATCHES, OR ANY DATA LOSS RESULTING FROM DOWNLOAD OR USE OF ANY SUCH ABOVE MENTIONED MATERIAL.</p>
          </div>
        </div>

        <h3 class="about-title mb-20">Information gathering and usage</h3>
        <div class="row">
          <div class="col-md-12">
            <p>When registering for Tristan’s App we ask for you to log in with services such as Facebook and Google. Upon registration we may store your email and user ID from the aforementioned services. We also store information such as your first name either immediately upon registration or when you choose to edit your profile. Your information is only used internally and will not be shared with others.
</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End Generic Start -->

    <!-- start footer Area -->
    <footer class="footer-area section-gap">
      <div class="container">

        <div class="row footer-bottom d-flex justify-content-between">
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
      </div>
    </footer>
    <!-- End footer Area -->

  </div>
  <script src="/js/vendor/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="/js/vendor/bootstrap.min.js"></script>
  <script src="/js/jquery.sticky.js"></script>
  <script src="/js/hexagons.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
